<li class="nav-item p-2">
  <a
    class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill active"
    data-bs-toggle="pill"
    href="#tab-6"
  >
    <span class="text-dark" style="width: 150px">Starter</span>
  </a>
</li>
